.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
}

.navbar > h2 {
  font-weight: 500;
  color: var(--theame-color);
}

.navbar__userAddress > h5 {
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar > h2 {
    margin-bottom: 10px;
  }
  .navbar__userAddress > h5 {
    padding: 5px 0;
    font-size: 12px;
  }
}
